body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(140, 96, 39);
}

h1 {
    font-size: 35px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#message {
    font-size: 20px;
    font-weight: bold;
}

.retour-portfolio {
    display: inline-block;
    margin-top: 30px;

    color: white;
    background-color: #0284c7;

    padding: 10px 20px;

    border-radius: 8px;

    text-decoration: none;
    font-weight: bold;
}

.retour-portfolio:hover {
    background-color: #0369a1;
}